* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    margin: 0;
}

.fullscreen {
    background-image: url('backgroundimg.jpeg');
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    margin: 0;
    color: white;
    text-align: center;
    font-size: 2rem;
    font-weight: normal;
}

.login-container {
    background-color: hsl(216, 84%, 75%, .4);
    padding: 12px 3px;
    width: 80%;
    max-width: 600px;
    border-radius: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 15px;
    margin-top: 28px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.input-group label {
    color: black;
    font-weight: lighter;
}

.input-group input {
    font-size: 1.25rem;
    padding: 2px;
    background-color: hsla(0, 0%, 100%, 0.3);
    border: none;
    outline: none;
    border-radius: .25em;
    font-weight: lighter;
}

.input-group input:focus {
    box-shadow: 0 0 0 1px hsla(235, 72%, 54%, 0.7);
}

.input-group.success input {
    box-shadow: 0 0 0 1px hsl(115, 60%, 50%)
}

.input-group.error input {
    box-shadow: 0 0 0 1px hsl(0, 60%, 50%)
}

/*
.input-group.msg{
    display:none;
    font-size: .75rem;
}
.input-group.success .msg,
.input-group.error .msg{
    display: block;
}

.input-group .success.msg{
color:0 0 0 1px hsl(115, 60%, 50%);
}
.input-group .error.msg{
    color:0 0 0 1px hsl(0, 60%, 50%);
}
    */
.login-button {
    padding: .5em 1em;
    font-size: 1rem;
    font-weight: 500;
    color: rgb(0, 0, 0);
    background-color: hsla(226, 83%, 75%, 0.25);
    border: 1.5px solid rgb(93, 117, 196);
    border-radius: .25em;
    outline: none;
    cursor: pointer;
}

.login-button:hover,
.login-button:focus {
    background-color: rgba(82, 111, 206, 0.3);
}
